AddDefaultCharset uft-8
RewriteEngine On
RewriteRule ^reg.php?$ modules/login/reg.php [L,QSA]
RewriteRule ^log.in.php?$ modules/login/login.php [L,QSA]
RewriteRule ^exit?$ modules/login/exit.php [L,QSA]
RewriteRule ^reamind.php$ modules/login/repass.php [L,QSA]
RewriteRule ^reamind/tocken/([0-9a-zA-Z]+)/?$ modules/login/repass_confirm.php?tocken=$1 [L,QSA]

RewriteRule ^admin?$ modules/admin/index.php [L,QSA]
RewriteRule ^admin/news/?$ modules/admin/news/index.php [L,QSA]
RewriteRule ^admin/news/new/?$ modules/admin/news/new.php [L,QSA]
RewriteRule ^admin/news/page([0-9]*)/?$ modules/admin/news/index.php?page=$1 [L,QSA]
RewriteRule ^admin/news/edit/([0-9]*)/?$ modules/admin/news/edit.php?id=$1 [L,QSA]
RewriteRule ^admin/news/delete/([0-9]*)/?$ modules/admin/news/delete.php?id=$1 [L,QSA]
RewriteRule ^admin/forum/?$ modules/admin/forum/index.php [L,QSA]
RewriteRule ^admin/forum/new_r/?$ modules/admin/forum/new_r.php [L,QSA]
RewriteRule ^admin/forum/r/([0-9]*)/?$ modules/admin/forum/r.php?id=$1 [L,QSA]
RewriteRule ^admin/forum/r/([0-9]*)/edit/?$ modules/admin/forum/edit_r.php?id=$1 [L,QSA]
RewriteRule ^admin/forum/r/([0-9]*)/del/?$ modules/admin/forum/del_r.php?id=$1 [L,QSA]
RewriteRule ^admin/forum/r/([0-9]*)/new_pr/?$ modules/admin/forum/new_pr.php?id=$1 [L,QSA]
RewriteRule ^admin/forum/pr/([0-9]*)/?$ modules/admin/forum/pr.php?id=$1 [L,QSA]
RewriteRule ^admin/forum/pr/([0-9]*)/del/?$ modules/admin/forum/del_pr.php?id=$1 [L,QSA]
RewriteRule ^admin/forum/pr/([0-9]*)/edit/?$ modules/admin/forum/edit_pr.php?id=$1 [L,QSA]
RewriteRule ^admin/smiles/?$ modules/admin/smiles/index.php [L,QSA]
RewriteRule ^admin/smiles/new_r/?$ modules/admin/smiles/new_r.php [L,QSA]
RewriteRule ^admin/smiles/r/([0-9]*)/?$ modules/admin/smiles/r.php?id=$1 [L,QSA]
RewriteRule ^admin/smiles/r/([0-9]*)/add_smile/?$ modules/admin/smiles/add_smile.php?id=$1 [L,QSA]
RewriteRule ^admin/smiles/r/([0-9]*)/del/?$ modules/admin/smiles/del_r.php?id=$1 [L,QSA]
RewriteRule ^admin/smiles/r/([0-9]*)/edit/?$ modules/admin/smiles/edit_r.php?id=$1 [L,QSA]
RewriteRule ^admin/smiles/edit_smile/([0-9]*)/?$ modules/admin/smiles/edit_smile.php?id=$1 [L,QSA]
RewriteRule ^admin/smiles/del_smile/([0-9]*)/?$ modules/admin/smiles/del_smile.php?id=$1 [L,QSA]
RewriteRule ^admin/system/info_system/?$ modules/admin/system/info_system.php [L,QSA]
RewriteRule ^admin/billing/?$ modules/admin/billing/index.php [L,QSA]
RewriteRule ^admin/billing/prices/?$ modules/admin/billing/prices.php [L,QSA]

RewriteRule ^kab/?$ modules/kab/index.php [L,QSA]
RewriteRule ^kab/lich/?$ modules/kab/lich.php [L,QSA]
RewriteRule ^photo.php/?$ modules/kab/photo.php [L,QSA]
RewriteRule ^kab/pass/?$ modules/kab/pass.php [L,QSA]
RewriteRule ^kab/log.php/?$ modules/kab/log.php [L,QSA]
RewriteRule ^kab/log/page([0-9]*)/?$ modules/kab/log.php?page=$1 [L,QSA]
RewriteRule ^kab/popk.php/?$ modules/kab/popk.php [L,QSA]
RewriteRule ^kab/popk/page([0-9]*)/?$ modules/kab/popk.php?page=$1 [L,QSA]
RewriteRule ^kab/myper.php/?$ modules/kab/myper.php [L,QSA]
RewriteRule ^kab/myper/page([0-9]*)/?$ modules/kab/myper.php?page=$1 [L,QSA]
RewriteRule ^all/info.php/?$ modules/others/faq.php [L,QSA]
RewriteRule ^kab/akk.php/?$ modules/kab/delete_akk.php [L,QSA]
RewriteRule ^kab/action.php/?$ modules/kab/action.php [L,QSA]
RewriteRule ^kab/pth.php/?$ modules/kab/pth.php [L,QSA]
RewriteRule ^kab/pth/page([0-9]*)/?$ modules/kab/pth.php?page=$1 [L,QSA]
RewriteRule ^kab/additional_settings/?$ modules/kab/additional_settings.php [L,QSA]
RewriteRule ^kab/additional_settings/setTopHome/?$ modules/kab/additional_settings.php?setTopHome [L,QSA]
RewriteRule ^kab/additional_settings/setCommHome/?$ modules/kab/additional_settings.php?setCommHome [L,QSA]
RewriteRule ^kab/additional_settings/setFilesForum/?$ modules/kab/additional_settings.php?setFilesForum [L,QSA]
RewriteRule ^kab/additional_settings/setAds/?$ modules/kab/additional_settings.php?setAds [L,QSA]
RewriteRule ^kab/additional_settings/setSmile/?$ modules/kab/additional_settings.php?setSmile [L,QSA]
RewriteRule ^kab/additional_settings/setViewMail/?$ modules/kab/additional_settings.php?setViewMail [L,QSA]
RewriteRule ^kab/additional_settings/setAjax/?$ modules/kab/additional_settings.php?setAjax [L,QSA]
RewriteRule ^kab/additional_settings/setFilesMail/?$ modules/kab/additional_settings.php?setFilesMail [L,QSA]
RewriteRule ^kab/additional_settings/setNormalNotifications/?$ modules/kab/additional_settings.php?setNormalNotifications [L,QSA]
RewriteRule ^kab/additional_settings/setUpPanel/?$ modules/kab/additional_settings.php?setUpPanel [L,QSA]
RewriteRule ^kab/additional_settings/setFeedAnk/?$ modules/kab/additional_settings.php?setFeedAnk [L,QSA]
RewriteRule ^kab/log/([0-9]*)/?$ modules/kab/log.php?id=$1 [L,QSA]
RewriteRule ^kab/ignor_list/?$ modules/kab/ignor_list.php [L,QSA]
RewriteRule ^kab/ignor_list/page([0-9]*)/?$ modules/kab/ignor_list.php?page=$1 [L,QSA]
RewriteRule ^kab/ignor_list/delete/([0-9]*)/?$ modules/kab/ignor_list.php?delete=$1 [L,QSA]

RewriteRule ^news/?$ modules/news/index.php [L,QSA]
RewriteRule ^news/page([0-9]*)/?$ modules/news/index.php?page=$1 [L,QSA]

RewriteRule ^komm([0-9]*)/?$ modules/news/komm/index.php?id=$1 [L,QSA]
RewriteRule ^komm([0-9]*)/page([0-9]*)/?$ modules/news/komm/index.php?id=$1&page=$2 [L,QSA]
RewriteRule ^komm([0-9]*)/edit/([0-9]*)/?$ modules/news/komm/edit.php?id=$1&idk=$2 [L,QSA]
RewriteRule ^komm([0-9]*)/delete/([0-9]*)/?$ modules/news/komm/delete.php?id=$1&idk=$2 [L,QSA]

RewriteRule ^online.php/?$ modules/others/online.php [L,QSA]
RewriteRule ^online/page([0-9]*)/? modules/others/online.php?page=$1 [L,QSA]

RewriteRule ^masters/?$ modules/others/masters/index.php [L,QSA]
RewriteRule ^masters/page([0-9]*)/?$ modules/others/masters/index.php?page=$1 [L,QSA]
RewriteRule ^masters/new/?$ modules/others/masters/new.php [L,QSA]
RewriteRule ^masters/new/page([0-9]*)/?$ modules/others/masters/new.php?page=$1 [L,QSA]
RewriteRule ^masters/rating/?$ modules/others/masters/rating.php [L,QSA]
RewriteRule ^masters/rating/page([0-9]*)/?$ modules/others/masters/rating.php?page=$1 [L,QSA]
RewriteRule ^masters/online/?$ modules/others/masters/online.php [L,QSA]
RewriteRule ^masters/online/page([0-9]*)/?$ modules/others/masters/online.php?page=$1 [L,QSA]

RewriteRule ^search.php/?$ modules/others/search.php [L,QSA]
RewriteRule ^search.php/page([0-9]*)/?$ modules/others/search.php?page=$1 [L,QSA]

RewriteRule ^us([0-9]*)/?$ modules/page_user/page_user.php?id=$1 [L,QSA]
RewriteRule ^us([0-9]*)/change_nick/?$ modules/page_user/change_nick.php?id=$1 [L,QSA]
RewriteRule ^us([0-9]*)/nicks/?$ modules/page_user/page_user.php?id=$1&nicks [L,QSA]
RewriteRule ^us([0-9]*)/edit/?$ modules/page_user/edit_user.php?id=$1 [L,QSA]
RewriteRule ^us([0-9]*)/change_password/?$ modules/page_user/change_password.php?id=$1 [L,QSA]
RewriteRule ^us([0-9]*)/scam/true/?$ modules/page_user/scam.php?id=$1&true [L,QSA]
RewriteRule ^us([0-9]*)/scam/false/?$ modules/page_user/scam.php?id=$1&false [L,QSA]

RewriteRule ^medals/([0-9]*)/?$ modules/medals/index.php?id=$1 [L,QSA]
RewriteRule ^medals/([0-9]*)/page([0-9]*)?$ modules/medals/index.php?id=$1&page=$2 [L,QSA]
RewriteRule ^medals/([0-9]*)/new/?$ modules/medals/new.php?id=$1 [L,QSA]
RewriteRule ^medals/([0-9]*)/delete/([0-9]*)/?$ modules/medals/delete.php?id=$2 [L,QSA]
RewriteRule ^medals/([0-9]*)/edit/([0-9]*)/?$ modules/medals/edit.php?id=$2 [L,QSA]

RewriteRule ^forum/rulls([0-9]*)/?$ modules/forum/rules.php?id=$1 [L,QSA]
RewriteRule ^forum/?$ modules/forum/index.php [L,QSA]
RewriteRule ^forum/razd([0-9]*)/?$ modules/forum/r.php?id=$1 [L,QSA]
RewriteRule ^forum/([0-9]*)/([0-9]*)/?$ modules/forum/pr.php?id=$1 [L,QSA]
RewriteRule ^forum/([0-9]*)/([0-9]*)/nt/?$ modules/forum/nt.php?idr=$1&idpr=$2 [L,QSA]
RewriteRule ^forum/thema([0-9]*)/?$ modules/forum/thema.php?id=$1 [L,QSA]
RewriteRule ^forum/thema([0-9]*)/subscribe/?$ modules/forum/subscribe.php?id=$1 [L,QSA]
RewriteRule ^forum/thema([0-9]*)/close/?$ modules/forum/close_topic.php?id=$1 [L,QSA]
RewriteRule ^forum/thema([0-9]*)/unclose/?$ modules/forum/open_topic.php?id=$1 [L,QSA]
RewriteRule ^forum/thema([0-9]*)/zakr/?$ modules/forum/zakr.php?id=$1 [L,QSA]
RewriteRule ^forum/thema([0-9]*)/otkr/?$ modules/forum/otkr.php?id=$1 [L,QSA]
RewriteRule ^forum/thema([0-9]*)/rename/?$ modules/forum/rename.php?id=$1 [L,QSA]
RewriteRule ^forum/thema([0-9]*)/del/?$ modules/forum/del.php?id=$1 [L,QSA]
RewriteRule ^forum/thema([0-9]*)/undelete/?$ modules/forum/undel.php?id=$1 [L,QSA]
RewriteRule ^forum/thema([0-9]*)/page([0-9]*)/?$ modules/forum/thema.php?id=$1&page=$2 [L,QSA]
RewriteRule ^forum/thema([0-9]*)/replace/?$ modules/forum/replace.php?id=$1 [L,QSA]
RewriteRule ^forum/thema([0-9]*)=otv_i([0-9]*)/?$ modules/forum/reply_post.php?id_thema=$1&id_us=$2 [L,QSA]
RewriteRule ^forum/thema([0-9]*)=cit([0-9]*)/?$ modules/forum/quote.php?id_thema=$1&id_post=$2 [L,QSA]
RewriteRule ^forum/([0-9]*)/([0-9]*)/page([0-9]*)/?$ modules/forum/pr.php?id=$2&page=$3 [L,QSA]
RewriteRule ^forum/redk([0-9]*)/?$ modules/forum/edit_post.php?id=$1 [L,QSA]
RewriteRule ^forum/del_post/([0-9]*)/([0-9]*)/?$ modules/forum/del_post.php?id=$1&page=$2 [L,QSA]
RewriteRule ^forum/recovery_post/([0-9]*)/([0-9]*)/?$ modules/forum/recovery_post.php?id=$1&page=$2 [L,QSA]
RewriteRule ^forum/red_p/([0-9]*)/?$ modules/forum/red_p_hist.php?id=$1 [L,QSA]
RewriteRule ^forum/thems/my/?$ modules/forum/thems/my.php [L,QSA]
RewriteRule ^forum/thems/new/?$ modules/forum/thems/new.php [L,QSA]
RewriteRule ^forum/thems/empty/?$ modules/forum/thems/empty.php [L,QSA]
RewriteRule ^forum/thems/updating/?$ modules/forum/thems/updating.php [L,QSA]
RewriteRule ^posts([0-9]*)/?$ modules/forum/posts/userp.php?id=$1 [L,QSA]
RewriteRule ^posts([0-9]*)/page([0-9]*)/?$ modules/forum/posts/userp.php?id=$1&page=$2 [L,QSA]
RewriteRule ^forum/posts/new/?$ modules/forum/posts/new.php [L,QSA]
RewriteRule ^forum/posts/new/page([0-9]*)/?$ modules/forum/posts/new.php?page=$1 [L,QSA]
RewriteRule ^forum/activists/24h/?$ modules/forum/activists/24h.php [L,QSA]
RewriteRule ^forum/activists/7d/?$ modules/forum/activists/7d.php [L,QSA]
RewriteRule ^forum/activists/over/?$ modules/forum/activists/over.php [L,QSA]
RewriteRule ^forum/thems/unread/?$ modules/forum/thems/unread.php [L,QSA]
RewriteRule ^forum/in_t_now/([0-9]*)/?$ modules/forum/in_t_now.php?id=$1 [L,QSA]
RewriteRule ^forum/in_t/([0-9]*)/?$ modules/forum/in_t.php?id=$1 [L,QSA]
RewriteRule ^forum/in_t/([0-9]*)/page([0-9]*)/?$ modules/forum/in_t.php?id=$1&page=$2 [L,QSA]
RewriteRule ^forum/download_t/([0-9]*)/?$ modules/forum/download_t.php?id=$1 [L,QSA]
RewriteRule ^forum/edit_rating_post/([0-9]*)/plus/?$ modules/forum/rating_plus.php?id=$1 [L,QSA]
RewriteRule ^forum/rating_post/([0-9]*)/plus/?$ modules/forum/view_rating_plus.php?id=$1 [L,QSA]
RewriteRule ^forum/rating_post/([0-9]*)/minus/?$ modules/forum/view_rating_minus.php?id=$1 [L,QSA]

RewriteRule ^all/rulls.php/?$ modules/others/rulls.php [L,QSA]

RewriteRule ^all/smiles_r.php/?$ modules/others/smiles_r.php [L,QSA]
RewriteRule ^all/smile/([0-9]*)/?$ modules/others/smiles.php?id=$1 [L,QSA]

RewriteRule ^all/bb.php/?$ modules/others/bb.php [L,QSA]

RewriteRule ^notifications/?$ modules/actions/easy.php [L,QSA]
RewriteRule ^notifications/page([0-9]*)/?$ modules/actions/easy.php?page=$1 [L,QSA]
RewriteRule ^notifications/clear/?$ modules/actions/clear.php [L,QSA]
RewriteRule ^notifications/new_section/?$ modules/actions/new_section.php [L,QSA]
RewriteRule ^notificationsh/?$ modules/actions/high.php [L,QSA]
RewriteRule ^notificationsh/section/([0-9]*)/?$ modules/actions/section.php?id=$1 [L,QSA]
RewriteRule ^notificationsh/section/([0-9]*)/page([0-9]*)/?$ modules/actions/section.php?id=$1&page=$2 [L,QSA]
RewriteRule ^notificationsh/section/([0-9]*)/clear/?$ modules/actions/clear_section.php?id=$1 [L,QSA]

RewriteRule ^services/?$ modules/services/index.php [L,QSA]
RewriteRule ^services/screen/?$ modules/services/screen.php [L,QSA]
RewriteRule ^services/screen/my/?$ modules/services/my_screens.php [L,QSA]
RewriteRule ^services/screen/my/page([0-9]*)/?$ modules/services/my_screens.php?id=$1 [L,QSA]
RewriteRule ^services/screen/my/([0-9]*)/delete/?$ modules/services/delete_screen.php?id=$1 [L,QSA]
RewriteRule ^services/wmid/?$ modules/services/wmid.php [L,QSA]
RewriteRule ^services/resize/?$ modules/services/resize/index.php [L,QSA]
RewriteRule ^services/resize/resize/?$ modules/services/resize/resize.php [L,QSA]
RewriteRule ^services/whois/?$ modules/services/whois.php [L,QSA]

RewriteRule ^thems([0-9]*)/?$ modules/page_user/thems.php?id=$1 [L,QSA]
RewriteRule ^thems([0-9]*)/page([0-9]*)/?$ modules/page_user/thems.php?id=$1&page=$2 [L,QSA]

RewriteRule ^senks([0-9]*)/?$ modules/page_user/senks.php?id=$1 [L,QSA]
RewriteRule ^senks([0-9]*)/page([0-9]*)?$ modules/page_user/senks.php?id=$1&page=$2 [L,QSA]
RewriteRule ^del_senk([0-9]*)/?$ modules/page_user/del_senk.php?id=$1 [L,QSA]
RewriteRule ^senker([0-9]*)/?$ modules/page_user/senker.php?id=$1
RewriteRule ^us([0-9]*)/subscribe/?$ modules/page_user/subscribe.php?id=$1 [L,QSA]
RewriteRule ^us([0-9]*)/unsubscribe/?$ modules/page_user/unsubscribe.php?id=$1 [L,QSA]
RewriteRule ^us([0-9]*)/subscribes/?$ modules/page_user/subscribes.php?id=$1 [L,QSA]
RewriteRule ^us([0-9]*)/subscribes/page([0-9]*)/?$ modules/page_user/subscribes.php?id=$1&page$2 [L,QSA]
RewriteRule ^us([0-9]*)/subscriber/?$ modules/page_user/subscriber.php?id=$1 [L,QSA]
RewriteRule ^us([0-9]*)/subscriber/page([0-9]*)/?$ modules/page_user/subscriber.php?id=$1&page$2 [L,QSA]

RewriteRule ^gazeta/?$ modules/gazeta/index.php [L,QSA]
RewriteRule ^gazeta/admin/?$ modules/gazeta/admin/index.php [L,QSA]
RewriteRule ^gazeta/admin/join_journalist/?$ modules/gazeta/admin/join_journalist.php [L,QSA]
RewriteRule ^gazeta/admin/join_journalist/([0-9]*)/?$ modules/gazeta/admin/join_journalist.php?id=$1 [L,QSA]
RewriteRule ^gazeta/admin/delete_journalist/?$ modules/gazeta/admin/delete_journalist.php [L,QSA]
RewriteRule ^gazeta/admin/delete_journalist/([0-9]*)/?$ modules/gazeta/admin/delete_journalist.php?id=$1 [L,QSA]
RewriteRule ^gazeta/admin/add_section/?$ modules/gazeta/admin/add_section.php [L,QSA]
RewriteRule ^gazeta/journalists/?$ modules/gazeta/journalists.php [L,QSA]
RewriteRule ^gazeta/admin/delete_section/([0-9]*)/?$ modules/gazeta/admin/delete_section.php?id=$1 [L,QSA]
RewriteRule ^gazeta/section/([0-9]*)/?$ modules/gazeta/section.php?id=$1 [L,QSA]
RewriteRule ^gazeta/section/([0-9]*)/page([0-9]*)/?$ modules/gazeta/section.php?id=$1&page=$2 [L,QSA]
RewriteRule ^gazeta/admin/new_article/([0-9]*)/?$ modules/gazeta/admin/new_article.php?id=$1 [L,QSA]
RewriteRule ^gazeta/article/([0-9]*)/?$ modules/gazeta/article.php?id=$1 [L,QSA]
RewriteRule ^gazeta/comm/([0-9]*)/?$ modules/gazeta/comm.php?id=$1 [L,QSA]
RewriteRule ^gazeta/comm/([0-9]*)/page([0-9]*)/?$ modules/gazeta/comm.php?id=$1&page=$2 [L,QSA]
RewriteRule ^gazeta/admin/del_comm/([0-9]*)/?$ modules/gazeta/admin/del_comm.php?id=$1 [L,QSA]
RewriteRule ^gazeta/articles_user/([0-9]*)/?$ modules/gazeta/articles_user.php?id=$1 [L,QSA]
RewriteRule ^gazeta/articles_user/([0-9]*)/page([0-9]*)/?$ modules/gazeta/articles_user.php?id=$1&page=$2 [L,QSA]
RewriteRule ^gazeta/admin/edit_article/([0-9]*)/?$ modules/gazeta/admin/edit_article.php?id=$1 [L,QSA]
RewriteRule ^gazeta/admin/delete_article/([0-9]*)/?$ modules/gazeta/admin/delete_article.php?id=$1 [L,QSA]
RewriteRule ^gazeta/admin/edit_photo/([0-9]*)/?$ modules/gazeta/admin/edit_photo.php?id=$1 [L,QSA]
RewriteRule ^gazeta/admin/edit_section/([0-9]*)/?$ modules/gazeta/admin/edit_section.php?id=$1 [L,QSA]
RewriteRule ^gazeta/admin/edit_comm/([0-9]*)/?$ modules/gazeta/admin/edit_comm.php?id=$1 [L,QSA]

RewriteRule ^mail/?$ modules/mail/index.php [L,QSA]
RewriteRule ^mail/page([0-9]*)/?$ modules/mail/index.php?page=$1 [L,QSA]
RewriteRule ^mail/msg/([0-9]*)/?$ modules/mail/view_dialog.php?id=$1 [L,QSA]
RewriteRule ^mail/msg/([0-9]*)/page([0-9]*)/?$ modules/mail/view_dialog.php?id=$1&page=$2 [L,QSA]
RewriteRule ^mail/messages_list/?$ modules/mail/messages_list.php [L,QSA]
RewriteRule ^mail/messages_list/page([0-9]*)/?$ modules/mail/messages_list.php?page=$1 [L,QSA]
RewriteRule ^mail/messages_list/noread/?$ modules/mail/messages_list.php?noread [L,QSA]
RewriteRule ^mail/messages_list/noread/page([0-9]*)/?$ modules/mail/messages_list.php?noread&page=$1 [L,QSA]
RewriteRule ^mail/files/?$ modules/mail/files.php [L,QSA]
RewriteRule ^mail/files/page([0-9]*)/?$ modules/mail/files.php?page=$1 [L,QSA]
RewriteRule ^mail/files/received/?$ modules/mail/files.php?received [L,QSA]
RewriteRule ^mail/files/received/page([0-9]*)/?$ modules/mail/files.php?received&page=$1 [L,QSA]
RewriteRule ^mail/favorite/add/([0-9]*)/?$ modules/mail/favorite/add.php?id=$1 [L,QSA]
RewriteRule ^mail/favorite/delete/([0-9]*)/?$ modules/mail/favorite/delete.php?id=$1 [L,QSA]
RewriteRule ^mail/favorite/list/?$ modules/mail/favorite/list.php [L,QSA]
RewriteRule ^mail/favorite/list/page([0-9]*)/?$ modules/mail/favorite/list.php?page=$1 [L,QSA]
RewriteRule ^mail/files/user/([0-9]*)/?$ modules/mail/files_user.php?id=$1 [L,QSA]
RewriteRule ^mail/files/user/([0-9]*)/page([0-9]*)/?$ modules/mail/files_user.php?id=$1&page=$2 [L,QSA]

RewriteRule ^billing/?$ modules/billing/index.php [L,QSA]
RewriteRule ^billing/fund/?$ modules/billing/fund.php [L,QSA]
RewriteRule ^billing/services/?$ modules/billing/services/index.php [L,QSA]
RewriteRule ^billing/services/change_nick/?$ modules/billing/services/change_nick.php [L,QSA]
RewriteRule ^billing/services/icon/?$ modules/billing/services/icon.php [L,QSA]
RewriteRule ^billing/services/gradient/?$ modules/billing/services/gradient.php [L,QSA]
RewriteRule ^billing/services/gradient/delete/?$ modules/billing/services/gradient.php?del [L,QSA]
RewriteRule ^billing/services/status/?$ modules/billing/services/status.php [L,QSA]
RewriteRule ^billing/services/flashing/?$ modules/billing/services/flashing.php [L,QSA]
RewriteRule ^billing/services/attachment/?$ modules/billing/services/attachment.php [L,QSA]
RewriteRule ^billing/services/ads/?$ modules/billing/services/ads.php [L,QSA]